body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#fsRankingsTable {
  border-style: solid;
  border-width: 1px;
  border-color: red;
  width: 40%;
  float: left;
}
