body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#leftPanel {
  float: left;
  width: 45%;
}

fieldset {
  border-style: solid;
  border-width: 1px;
  border-color: red;
  padding: 10px;
}


#spacingTables {
  padding: 20px;
}

#spacingButtons {
  padding: 5px;
}

#tableRankings {
  text-align: center;
}
#rankingTableColumn {
  text-align: center;
}

#rightPanel {
  width: 45%;
  float: right;
}

#lblPlayerName{
  padding-right: 10px;
}
#txtPlayerName {
  margin-left: 10px;
}

#addPlayerButton {
  float: none;
}

.errorMesg {
  color: red;
  text-align: right;
}

select {
  margin-left: 10px;
}
