body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#leftPanel {
  float: left;
}

fieldset {
  border-style: solid;
  border-width: 1px;
  border-color: red;
  padding: 10px;
}

#fsRankingsTable {
}

#fsPendingPlayers {
}

#spacingTables {
  padding: 20px;
}

#tableRankings {
  width: 90%;
  text-align: center;
}
#rankingTableColumn {
  text-align: center;
}

#rightPanel {
  width: 40%;
  float: right;
}

#fsPlayerForm {
}

#lblPlayerName{
  padding-right: 10px;
}
#txtPlayerName {
  /*float: right;*/
  padding-left: 10px;
}

#addPlayerButton {
  float: none;
}

#divAddPlayerError {
  color: red;
  text-align: right;
}
